@media screen and (max-width: 1366px) and (min-width: 1280px){

    main .home-section #box-textProject{
        height: auto;
    }

     main .services-section .container-services{
        justify-content: end;
    }
    main .services-section #text-services{
        width: 40%;
        padding: 0px 10px 0px 10px;
    }
    main .services-section #text-services h2{
        font-size: var(--font-size-medium);
    }
    main .services-section #box-contain{
        height: 55%;
    }
    main .services-section .box-carrossel{
        width: 750px;
        height: 450px;
            margin-right: 0;
    }
    main .services-section .box-carrossel .cards-carrossel{
        background-color: var(--white);
        width: 100%;
        height: 500px;
    }
        main .about-section #box-linhagem img{
    width: 65%;
}

main #projects #blobs{
    background-position: center bottom -40px, center top -40px;
}


}
@media screen and (max-width: 1600px) {    
    .navbar-menu{
        display: none;
    }
     main .services-section .box-carrossel{
        width: 750px;
        height: 450px;
            margin-right: 0;
    }

    main .about-section #text-left{
    width: 350px;
}

main .about-section #text-center{
    width: 600px;
}

main .about-section #box-equipe{
    width: 300px;
}

main #projects #blobs{
    background-position: center bottom -40px, center top -40px;
}


}

@media screen and (max-width: 1280px) and (min-width: 1024px){
:root{
    
       
          --font-size-extra-larguer: 2rem;
        --font-size-medium: 1.2rem;
        
    }
    main .home-section #box-textProject{
        height: auto;
    }

    main .services-section .container-services{
        justify-content: end;
    }
    main .services-section #text-services{
        width: 40%;
        padding: 0px 10px 0px 10px;
    }
    main .services-section #text-services h2{
        font-size: var(--font-size-medium);
    }
    main .services-section #box-contain{
        height: 55%;
    }
    main .services-section .box-carrossel{
        width: 600px;
        height: 400px;
            margin-right: 0;
    }
    main .services-section .box-carrossel .cards-carrossel{
        background-color: var(--white);
        width: 100%;
        height: 400px;
    }

    main .about-section #box-linhagem img{
    width: 65%;
}
main .about-section #footer-about{
    justify-content: space-around;
    height: 25%;
    
}


main .about-section #text-left{
    width: 200px;
}

main .about-section #text-center{
    width: 400px;
}

main .about-section #box-equipe{
    width: 300px;
}
main #projects #blobs{
    background-position: center bottom -40px, center top -40px;
}


}

@media screen and (min-width: 1025px) {    
    .navbar-menu{
        display: none;
    }
}
@media screen and (max-width: 1024px) and (min-width: 768px){
    :root{
        --font-size-extra-larguer: 2rem;
        --font-size-medium: 1.2rem;
        --widht-buttons-home: 180px;
        --height-buttons-home: 45px;
    }
    header #top-nav{
       display: none;
    }
    .navbar-menu{
        display: flex;
    }
    main .home-section #box-textProject{
        height: auto;
    }
    main .home-section #box-buttons{
        gap: 10px;
        height: auto;
    }
    main .services-section #text-services h2{
    font-size: var(--font-size-medium);
    }
    main .services-section #box-footer-services{
    display: none;
    }
    main .services-section #box-contain{
    height: 75%;
}
    main .services-section .container-services{
    justify-content: center;
}
main .services-section .box-carrossel{
    width: 600px;
    height: 300px;
        margin-right: 0;
}
main .services-section .box-carrossel .cards-carrossel{
    background-color: var(--white);
    width: 100%;
    height: 300px;
}



main .about-section #box-linhagem img{
    width: 60%;
}

main .about-section #footer-about{
    justify-content: space-around;
    
}

main .about-section #text-left{
    display: none;
}

main .about-section #text-center{
    width: 400px;
}

main .about-section #box-equipe{
    width: 300px;
    height: auto;
}

main #projects #blobs{
    background-position: center bottom 0px, center top 0px;
}

main #projects #logo{
    background-position: left 5% top 20%;
    background-size: 300px;
}

main .project-section .box-carrossel {
    margin-bottom: 25%;
}

main .project-section .box-carrossel .card {
  width: 350px;
  height: 350px;
  
}

main .project-section .box-carrossel .card:nth-child(even) {
  margin-top: 0; /* ou o valor que você quiser */
}

main .contact-section .form{
    height: 100%;
    width: 100%;
}


main .contact-section{
    background: url("../../assets/imgs/Contate\ a\ WeTravel.svg");
    background-repeat: no-repeat;
    background-position: left 10% top 10%;
    background-size: 250px;

}



}
@media screen and (max-width: 768px) and (min-width: 480px){
    :root{
        --font-size-extra-larguer: 1.5rem;
        --font-size-medium: 1rem;
--widht-buttons-home: 180px;
        --height-buttons-home: 45px;
    }
    header #top-nav{
        display: none;
    }
    main .home-section #box-textProject{
        height: auto;
    }
    main .home-section #box-buttons{
        gap: 10px;
        height: auto;
    }
    main .services-section #text-services h2{
    font-size: var(--font-size-medium);
    }
    main .services-section #box-footer-services{
    display: none;
    }
    main .services-section .container-services{
    justify-content: center;
    
}
main .services-section .box-carrossel{
    width: 450px;
        margin-right: 0;
    height: 250px;
}
main .services-section .box-carrossel .cards-carrossel{
    background-color: var(--white);
    width: 100%;
    height: 250px;
}
main .about-section #box-title-about{
    background-size: 300px;
}
main .about-section #box-linhagem img{
    width: 95%;
}
main .about-section #footer-about{
    justify-content: center;
}
main .about-section #text-left{
    display: none;
}
main .about-section #box-equipe{
    height: auto;
}
main #projects #blobs{
    background-position: center bottom 0px, center top 0px;
}

main #projects #logo{
    background-position: left 5% top 10%;
    background-size: 250px;
}

main .project-section .box-carrossel {
    margin-bottom: 40%;
}

main .project-section .box-carrossel .card {
  width: 400px;
  height: 400px;
  
}

main .project-section .box-carrossel .card:nth-child(even) {
  margin-top: 0; /* ou o valor que você quiser */
}

main .contact-section .form{
    height: 100%;
    width: 100%;
}


main .contact-section{
    background: url("../../assets/imgs/Contate\ a\ WeTravel.svg");
    background-repeat: no-repeat;
    background-position: left 10% top 10%;
    background-size: 250px;

}

}
@media screen and (max-width: 480px) and (min-width: 320px){
    :root{
        --font-size-extra-larguer: 1.5rem;
        --font-size-medium: 1rem;
--widht-buttons-home: 180px;
        --height-buttons-home: 45px;
    }
 
    header #top-nav{
       display: none;
    }
    main .home-section #box-textProject{
        height: auto;
    }
    main .home-section #box-buttons{
        gap: 10px;
        height: auto;
    }
    main .services-section #text-services h2{
    font-size: var(--font-size-medium);
    }
    main .services-section #box-footer-services{
    display: none;
    }
        main .services-section .container-services{
    justify-content: center;
}
main .services-section .box-carrossel{
    width: 100%;
    height: 250px;
        margin-right: 0;
}
main .services-section .box-carrossel .cards-carrossel{
    background-color: var(--white);
    width: 100%;
    height: 250px;
}




main .services-section #blobs{

    background-position: center bottom -12px, center top -12px;
   
}
main .about-section #box-title-about{
    background-size: 300px;
}
main .about-section #box-linhagem img{
    width: 95%;
}
main .about-section #footer-about{
    justify-content: center;
}
main .about-section #text-left{
    display: none;
}
main .about-section #box-equipe{
    height: auto;
}
main #projects #blobs{
    background-position: center bottom 0px, center top 0px;
}
main #projects #logo{
    background: url("../../assets/imgs/Projetos\ WeTravel\ Black.svg");
    background-position: left 5% top 20%;
    background-repeat: no-repeat;
    background-size: 250px;
}

main .project-section .box-carrossel {
    margin-bottom: 45%;
}

main .project-section .box-carrossel .card {
  width: 300px;
  height: 300px;
  
}

main .project-section .box-carrossel .card:nth-child(even) {
  margin-top: 0; /* ou o valor que você quiser */
}

main .contact-section .form{
    height: 100%;
    width: 100%;
}


main .contact-section{
    background: url("../../assets/imgs/Contate\ a\ WeTravel.svg");
    background-repeat: no-repeat;
    background-position: left 10% top 10%;
    background-size: 220px;

}


main .contact-section .form .inputs_box{
    width: 300px;
}


main .contact-section .form .input_text{
    width: 300px;
}

main .contact-section .form .btn{
    width: 300px;
}

main .contact-section .form .btn button{
    width: 146px;
    height: 31px;
}

}
@media screen and (max-width: 320px){
    :root{
        --font-size-extra-larguer: 1.5rem;
        --font-size-medium: 1rem;
        --widht-buttons-home: 180px;
        --height-buttons-home: 45px;
        --font-size-small: .9rem;
    }

    header #top-nav{
       display: none;
    }
    main .home-section #box-textProject{
        height: auto;
    }
  
main .home-section #box-buttons{
    gap: 10px;
    height: auto;
}
main .services-section #text-services h2{
    font-size: var(--font-size-small);
    }
    main .services-section #box-footer-services{
    display: none;
    }
        main .services-section .container-services{
    justify-content: center;
    
}
main .services-section .box-carrossel{
    width: 100%;
    height: 200px;
    margin-right: 0;

}
main .services-section .box-carrossel .cards-carrossel{
    background-color: var(--white);
    width: 100%;
    height: 200px;
}
main .about-section #box-title-about{
    background-size: 220px;
}
main .about-section #box-linhagem img{
    width: 95%;
}
main .about-section #footer-about{
    justify-content: center;
}
main .about-section #text-left{
    display: none;
}
main .about-section #box-equipe{
    height: auto;
}
main #projects #blobs{
    background-position: center bottom 0px, center top 0px;
}
main #projects #logo{
    background: url("../../assets/imgs/Projetos\ WeTravel\ Black.svg");
    background-position: left 5% top 20%;
    background-repeat: no-repeat;
    background-size: 250px;
}

main #projects {
    padding: 0px 2% 0px 2%;
}

main .project-section .box-carrossel {
    margin-bottom: 70%;
}

main .project-section .box-carrossel .card {
  width: 240px;
  height: 240px;
  
}

main .project-section .box-carrossel .card:nth-child(even) {
  margin-top: 0; /* ou o valor que você quiser */
}

main .contact-section .form{
    height: 100%;
    width: 100%;
}

main .contact-section{
    background: url("../../assets/imgs/Contate\ a\ WeTravel.svg");
    background-repeat: no-repeat;
    background-position: left 10% top 10%;
    background-size: 220px;
}

main .contact-section .form .inputs_box{
    width: 300px;
}

main .contact-section .form .input_text{
    width: 300px;
}

main .contact-section .form .btn{
    width: 300px;
}

main .contact-section .form .btn button{
    width: 146px;
    height: 31px;
}

}