@media screen and (max-width: 1366px) and (min-width: 1280px){

    main .home-section #box-textProject{
        height: auto;
    }

     main .services-section .container-services{
        justify-content: end;
    }
    main .services-section #text-services{
        width: 40%;
        padding: 0px 10px 0px 10px;
    }
    main .services-section #text-services h2{
        font-size: var(--font-size-medium);
    }
    main .services-section #box-contain{
        height: 55%;
    }
    main .services-section .box-carrossel{
        width: 750px;
        height: 450px;
            margin-right: 0;
    }
    main .services-section .box-carrossel .cards-carrossel{
        background-color: var(--white);
        width: 100%;
        height: 500px;
    }

}
@media screen and (max-width: 1600px) {    
    .navbar-menu{
        display: none;
    }
     main .services-section .box-carrossel{
        width: 750px;
        height: 450px;
            margin-right: 0;
    }
}

@media screen and (max-width: 1280px) and (min-width: 1024px){
:root{
    
       
          --font-size-extra-larguer: 2rem;
        --font-size-medium: 1.2rem;
        
    }
    main .home-section #box-textProject{
        height: auto;
    }

    main .services-section .container-services{
        justify-content: end;
    }
    main .services-section #text-services{
        width: 40%;
        padding: 0px 10px 0px 10px;
    }
    main .services-section #text-services h2{
        font-size: var(--font-size-medium);
    }
    main .services-section #box-contain{
        height: 55%;
    }
    main .services-section .box-carrossel{
        width: 600px;
        height: 400px;
            margin-right: 0;
    }
    main .services-section .box-carrossel .cards-carrossel{
        background-color: var(--white);
        width: 100%;
        height: 400px;
    }





}

@media screen and (min-width: 1025px) {    
    .navbar-menu{
        display: none;
    }
}
@media screen and (max-width: 1024px) and (min-width: 768px){
    :root{
        --font-size-extra-larguer: 2rem;
        --font-size-medium: 1.2rem;
        --widht-buttons-home: 180px;
        --height-buttons-home: 45px;
    }
    header #top-nav{
       display: none;
    }
    .navbar-menu{
        display: flex;
    }
    main .home-section #box-textProject{
        height: auto;
    }
    main .home-section #box-buttons{
        gap: 10px;
        height: auto;
    }
    main .services-section #text-services h2{
    font-size: var(--font-size-medium);
    }
    main .services-section #box-footer-services{
    display: none;
    }
    main .services-section #box-contain{
    height: 75%;
}
    main .services-section .container-services{
    justify-content: center;
}
main .services-section .box-carrossel{
    width: 600px;
    height: 300px;
        margin-right: 0;
}
main .services-section .box-carrossel .cards-carrossel{
    background-color: var(--white);
    width: 100%;
    height: 300px;
}

}
@media screen and (max-width: 768px) and (min-width: 480px){
    :root{
        --font-size-extra-larguer: 1.5rem;
        --font-size-medium: 1rem;
--widht-buttons-home: 180px;
        --height-buttons-home: 45px;
    }
    header #top-nav{
        display: none;
    }
    main .home-section #box-textProject{
        height: auto;
    }
    main .home-section #box-buttons{
        gap: 10px;
        height: auto;
    }
    main .services-section #text-services h2{
    font-size: var(--font-size-medium);
    }
    main .services-section #box-footer-services{
    display: none;
    }
    main .services-section .container-services{
    justify-content: center;
    
}
main .services-section .box-carrossel{
    width: 450px;
        margin-right: 0;
    height: 250px;
}
main .services-section .box-carrossel .cards-carrossel{
    background-color: var(--white);
    width: 100%;
    height: 250px;
}
}
@media screen and (max-width: 480px) and (min-width: 320px){
    :root{
        --font-size-extra-larguer: 1.5rem;
        --font-size-medium: 1rem;
--widht-buttons-home: 180px;
        --height-buttons-home: 45px;
    }
 
    header #top-nav{
       display: none;
    }
    main .home-section #box-textProject{
        height: auto;
    }
    main .home-section #box-buttons{
        gap: 10px;
        height: auto;
    }
    main .services-section #text-services h2{
    font-size: var(--font-size-medium);
    }
    main .services-section #box-footer-services{
    display: none;
    }
        main .services-section .container-services{
    justify-content: center;
}
main .services-section .box-carrossel{
    width: 100%;
    height: 250px;
        margin-right: 0;
}
main .services-section .box-carrossel .cards-carrossel{
    background-color: var(--white);
    width: 100%;
    height: 250px;
}




main .services-section #blobs{

    background-position: center bottom -12px, center top -12px;
   
}


}
@media screen and (max-width: 320px){
    :root{
        --font-size-extra-larguer: 1.5rem;
        --font-size-medium: 1rem;
        --widht-buttons-home: 180px;
        --height-buttons-home: 45px;
        --font-size-small: .9rem;
    }

    header #top-nav{
       display: none;
    }
    main .home-section #box-textProject{
        height: auto;
    }
  
main .home-section #box-buttons{
    gap: 10px;
    height: auto;
}
main .services-section #text-services h2{
    font-size: var(--font-size-small);
    }
    main .services-section #box-footer-services{
    display: none;
    }
        main .services-section .container-services{
    justify-content: center;
    
}
main .services-section .box-carrossel{
    width: 100%;
    height: 200px;
    margin-right: 0;

}
main .services-section .box-carrossel .cards-carrossel{
    background-color: var(--white);
    width: 100%;
    height: 200px;
}
}