@media screen and (max-width: 1920px) and (min-width: 1060px) and (max-height: 1080px) and (min-height: 768px){    
    .menu #interagir_menu{
        display: none;
    }
}


@media screen and (max-width: 1600px) and (min-width: 1440px) and (max-height: 1080px) and (min-height: 900px){
    .menu {
        width: 250px;
    }
    
    #dashboard_section #titleDash{
        font-size: 2rem;
        line-height: 50px;
    }

    #dashboard_section .boxConteudo{
        height: calc(100% - 50px);
        padding: 0px 2rem 0px 2rem;
    }


    #dashboard_section .boxConteudo .boxLeft .card{
        width: 260px;
        height: 140px;
    }

    #dashboard_section .boxConteudo .boxRight .areaGrafico{
        width: 90%;
        min-height: 55%;
    }

    #dashboard_section .boxConteudo .boxRight .areaConsultoresCards{
        border: 1px solid red;
        min-height: 40%;
    }
        #dashboard_section .boxConteudo .boxLeft{
    height: 80%;
}


#dashboard_section .boxConteudo .boxRight{
    height: 80%;
}
}



@media screen and (max-width: 1439px) and (max-height: 800px) and (min-width: 768px){
        .menu {
        width: 220px;
    }
    .menu .conteudo .boxFoto{
        height: 200px;
        border: 1px solid red;
    }

    .menu .conteudo .boxFoto #foto_user{
        width: 80px;
        height: 80px;
    }

    .menu .conteudo .boxFoto h3{
        font-size: var(--font-size-regular);
    }

    .menu .conteudo .boxFoto button{
        right: 15px;
        font-size: var(--font-size-small);
        background-size: 20px;
        padding-right: 30px;
    }

    .box_hora h2{
        font-size: var(--font-size-larguer);
    }

    .box_hora h3{
        padding: 0px 1rem;
        text-align: center;
    }

    .box_sessoes{
        height: 200px;
        gap: 20px;
        border: 1px solid darkblue;
    }

    .box_sessoes h2{
        margin-left: 20px;
    }


    #dashboard_section #titleDash{
        font-size: 2rem;
        line-height: 50px;
    }

    #dashboard_section .boxConteudo{
        height: calc(100% - 50px);
        padding: 0px 2rem 0px 2rem;
    }

    #dashboard_section .boxConteudo .boxLeft .card{
        width: 260px;
        height: 140px;
    }
    #dashboard_section .boxConteudo .boxRight .areaGrafico{
        width: 90%;
        min-height: 55%;
    }

    #dashboard_section .boxConteudo .boxRight .areaConsultoresCards{
        border: 1px solid red;
        min-height: 40%;
    }

}

@media screen and (max-width: 1240px) and (max-height: 768px){
    .menu {
        width: 200px;
    }
    .menu .conteudo .boxFoto{
        height: 200px;
        border: 1px solid red;
    }

    .menu .conteudo .boxFoto #foto_user{
        width: 80px;
        height: 80px;
    }

    .menu .conteudo .boxFoto h3{
        font-size: var(--font-size-regular);
    }

    .menu .conteudo .boxFoto button{
        right: 15px;
        font-size: var(--font-size-small);
        background-size: 20px;
        padding-right: 30px;
    }

    .box_hora h2{
        font-size: var(--font-size-larguer);
    }

    .box_hora h3{
        padding: 0px 1rem;
        text-align: center;
    }

    .box_sessoes{
        height: 200px;
        gap: 20px;
        border: 1px solid darkblue;
    }

    .box_sessoes h2{
        margin-left: 20px;
    }








































    #dashboard_section .boxConteudo .boxLeft .card{
        width: 240px;
        height: 140px;
    }



}


@media screen and (max-width: 1190px) and (max-height: 768px){
    .menu {
        width: 200px;
    }

    .menu .conteudo .boxFoto{
        height: 200px;
        border: 1px solid red;
    }

    .menu .conteudo .boxFoto #foto_user{
        width: 80px;
        height: 80px;
    }

    .menu .conteudo .boxFoto h3{
        font-size: var(--font-size-regular);
    }

    .menu .conteudo .boxFoto button{
        right: 15px;
        font-size: var(--font-size-small);
        background-size: 20px;
        padding-right: 30px;
    }

    .box_hora h2{
        font-size: var(--font-size-larguer);
    }

    .box_hora h3{
        padding: 0px 1rem;
        text-align: center;
    }

    .box_sessoes{
        height: 200px;
        gap: 20px;
        border: 1px solid darkblue;
    }

    .box_sessoes h2{
        margin-left: 20px;
    }







































    #dashboard_section #titleDash{
        font-size: 2rem;
        line-height: 50px;
    }

    #dashboard_section .boxConteudo{
        height: calc(100% - 50px);
        padding: 0px 2rem 0px 2rem;
    }

    #dashboard_section .boxConteudo .boxLeft .card{
        width: 220px;
        height: 140px;
    }
    #dashboard_section .boxConteudo .boxRight .areaGrafico{
        width: 90%;
        min-height: 55%;
    }

    #dashboard_section .boxConteudo .boxRight .areaConsultoresCards{
        border: 1px solid red;
        min-height: 40%;
    }

}

@media screen and (max-width: 1060px) and (max-height: 768px){
    .menu{
        position: absolute;
        width: 20px;
        max-width: 220px;
    }
    #abrir_menu {
        display: block;
        width: 40px;
        height: 40px;
        left: 30px;
        top: 15px;
        opacity: 1;
    }

     #conteudo_menu{
        opacity: 0;
        transition: none
     }
    #interagir_menu{
        display: none;
        right: -22.5px;
        width: 45px;
        height: 45px;
        border-radius: 45px;
        background-size: 25px;
    }
    
    .menu .conteudo .boxFoto{
        height: 200px;
        border: 1px solid red;
    }

    .menu .conteudo .boxFoto #foto_user{
        width: 80px;
        height: 80px;
    }

    .menu .conteudo .boxFoto h3{
        font-size: var(--font-size-regular);
    }

    .menu .conteudo .boxFoto button{
        right: 15px;
        font-size: var(--font-size-small);
        background-size: 20px;
        padding-right: 30px;
    }

    .box_hora h2{
        font-size: var(--font-size-larguer);
    }

    .box_hora h3{
        padding: 0px 1rem;
        text-align: center;
    }

    .box_sessoes{
        height: 200px;
        gap: 20px;
        border: 1px solid darkblue;
    }

    .box_sessoes h2{
        margin-left: 20px;
    }







































    #dashboard_section #titleDash{
        font-size: 2rem;
        line-height: 50px;
    }

    #dashboard_section .boxConteudo{
        height: calc(100% - 50px);
        padding: 0px 2rem 0px 2rem;
    }

    #dashboard_section .boxConteudo .boxLeft .card{
        width: 220px;
        height: 140px;
    }
    #dashboard_section .boxConteudo .boxRight .areaGrafico{
        width: 90%;
        min-height: 55%;
    }

    #dashboard_section .boxConteudo .boxRight .areaConsultoresCards{
        border: 1px solid red;
        min-height: 40%;
    }

}

@media screen and (max-width: 1060px) and (max-height: 600px){

    .menu .conteudo{
    background-position: center bottom 40px;
    background-size: 100px;
}

    .menu .conteudo .boxFoto{
        height: 200px;
        border: 1px solid red;
    }

    .menu .conteudo .boxFoto #foto_user{
        width: 80px;
        height: 80px;
    }

    .menu .conteudo .boxFoto h3{
        font-size: var(--font-size-regular);
    }

    .menu .conteudo .boxFoto button{
        right: 15px;
        font-size: var(--font-size-small);
        background-size: 20px;
        padding-right: 30px;
    }

    .box_hora h2{
        font-size: var(--font-size-larguer);
    }

    .box_hora h3{
        padding: 0px 1rem;
        text-align: center;
    }

    .box_sessoes{
        height: 170px;
        gap: 20px;
        border: 1px solid darkblue;
    }

    .box_sessoes h2{
        margin-left: 20px;
        font-size: var(--font-size-small);
    }







































    #dashboard_section #titleDash{
        font-size: 2rem;
        line-height: 50px;
    }

    #dashboard_section .boxConteudo{
        height: calc(100% - 50px);
        padding: 0px 2rem 0px 2rem;
    }

    #dashboard_section .boxConteudo .boxLeft .card{
        width: 220px;
        height: 140px;
    }
    #dashboard_section .boxConteudo .boxRight .areaGrafico{
        width: 90%;
        min-height: 55%;
    }

    #dashboard_section .boxConteudo .boxRight .areaConsultoresCards{
        border: 1px solid red;
        min-height: 40%;
    }

}

@media screen and (max-width: 1000px) and (max-height: 768px){
    body{
    width: 100%;
    min-width: none;
    height: 100vh;
    min-height: none;
}
    .menu{
        position: absolute;
        width: 20px;
        max-width: 220px;
    }
    #abrir_menu {
        display: block;
        width: 40px;
        height: 40px;
        left: 30px;
        top: 10px;
        opacity: 1;
    }

     #conteudo_menu{
        opacity: 0;
        transition: none
     }
    #interagir_menu{
        display: none;
        right: -22.5px;
        width: 45px;
        height: 45px;
        border-radius: 45px;
        background-size: 25px;
    }
    
    .menu .conteudo .boxFoto{
        height: 200px;
        border: 1px solid red;
    }

    .menu .conteudo .boxFoto #foto_user{
        width: 80px;
        height: 80px;
    }

    .menu .conteudo .boxFoto h3{
        font-size: var(--font-size-regular);
    }

    .menu .conteudo .boxFoto button{
        right: 15px;
        font-size: var(--font-size-small);
        background-size: 20px;
        padding-right: 30px;
    }

    .box_hora h2{
        font-size: var(--font-size-larguer);
    }

    .box_hora h3{
        padding: 0px 1rem;
        text-align: center;
    }

    .box_sessoes{
        height: 200px;
        gap: 20px;
        border: 1px solid darkblue;
    }

    .box_sessoes h2{
        margin-left: 20px;
    }







































    #dashboard_section #titleDash{
        font-size: 2rem;
        line-height: 50px;
    }

    #dashboard_section .boxConteudo{
        height: calc(100% - 50px);
        padding: 0px 2rem 0px 2rem;
        flex-direction: column;
    }
    #dashboard_section .boxConteudo .boxLeft{
        flex-direction: row;
        width: 100%;
        height: 20%;
    }
    #dashboard_section .boxConteudo .boxLeft .card{
        width: 220px;
        height: 140px;
    }
    #dashboard_section .boxConteudo .boxRight{
        width: 100%;
        height:100%;
        padding: 0px 1rem 1rem;
    }
    #dashboard_section .boxConteudo .boxRight .areaGrafico{
        width: 100%;
        min-height: 55%;
    }

    #dashboard_section .boxConteudo .boxRight .areaConsultoresCards{
        border: 1px solid red;
        min-height: 40%;
    }

}
@media screen and (max-width: 999px) and (max-height: 768px){
    body{
        width: 100%;
        min-width: none;
        height: 100vh;
        min-height: none;
    }

    #dashboard_section #titleDash{
        font-size: 2rem;
        line-height: 50px;
    }

    #dashboard_section .boxConteudo{
        height: calc(100% - 50px);
        padding: 0px 2rem 0px 2rem;
        flex-direction: column;
    }
    #dashboard_section .boxConteudo .boxLeft{
        flex-direction: row;
        width: 95%;
        height: 20%;
    }
    #dashboard_section .boxConteudo .boxLeft .card{
        width: 100%;
        height: 140px;
    }
    #dashboard_section .boxConteudo .boxRight{
        width: 95%;
        height:100%;
        padding: 0px 1rem 1rem;
    }
    #dashboard_section .boxConteudo .boxRight .areaGrafico{
        width: 95%;
        min-height: 55%;
    }

    #dashboard_section .boxConteudo .boxRight .areaConsultoresCards{
        min-height: 40%;
    }

}

@media screen and (max-width: 900px) and (max-height: 768px){

    #dashboard_section #titleDash{
        font-size: 2rem;
        line-height: 50px;
    }

    #dashboard_section .boxConteudo{
        height: calc(100% - 50px);
        padding: 0px 2rem 0px 2rem;
        flex-direction: column;
        overflow-y: scroll;
    }
    #dashboard_section .boxConteudo .boxLeft{
        flex-direction: row;     /* Agora será lado a lado */
        flex-wrap: wrap;         /* Permite quebrar linha */
        width: 90%;
        height: auto;            /* Altura ajusta automaticamente */
        justify-content: center;
        gap: 1rem;
    }

    #dashboard_section .boxConteudo .boxLeft .card{
        width: calc(50% - 1rem); /* 2 por linha */
        height: 140px;
    }
    #dashboard_section .boxConteudo .boxRight{
        width: 90%;
        padding: 0px 1rem 1rem;
    }
    #dashboard_section .boxConteudo .boxRight .areaGrafico{
        width: 95%;
        min-height: 80%;
    }

    #dashboard_section .boxConteudo .boxRight .areaConsultoresCards{
        width: 95%;
        min-height: 50%;
        padding-bottom: 1rem;
    }

}

@media screen and (max-width: 800px) and (max-height: 768px){

    #dashboard_section #titleDash{
        font-size: 2rem;
        line-height: 50px;
    }

    #dashboard_section .boxConteudo{
        height: calc(100% - 50px);
        padding: 0px 2rem 0px 2rem;
        flex-direction: column;
        overflow-y: scroll;
    }
    #dashboard_section .boxConteudo .boxLeft{
        width: 100%;
    }

    #dashboard_section .boxConteudo .boxLeft .card{
        width: calc(45% - 1rem);
        height: 140px;
    }
    #dashboard_section .boxConteudo .boxRight{
        width: 100%;
        padding: 0px 1rem 1rem;
    }
    #dashboard_section .boxConteudo .boxRight .areaGrafico{
        width: 95%;
        min-height: 80%;
    }

    #dashboard_section .boxConteudo .boxRight .areaConsultoresCards{
        width: 95%;
        min-height: 50%;
        padding-bottom: 1rem;
    }

}


