@media screen and (max-width: 1920px) and (min-width: 1024px) and (max-height: 1080px) and (min-height: 768px){    
    .menu #interagir_menu{
        display: none;
    }
}


@media screen and (max-width: 1600px) and (min-width: 1367px){
    .menu {
        width: 250px;
    }

    #dashboard_section #titleDash{
        font-size: 2rem;
        line-height: 50px;
    }

    #dashboard_section .boxConteudo{
        height: calc(100% - 50px);
    }

    #dashboard_section .boxConteudo .boxLeft .card{
        width: 260px;
        height: 140px;
    }
    #dashboard_section .boxConteudo .boxRight .areaGrafico{
        width: 90%;
        min-height: 55%;
    }

    #dashboard_section .boxConteudo .boxRight .areaConsultoresCards{
        border: 1px solid red;
        min-height: 40%;
    }
        #dashboard_section .boxConteudo .boxLeft{
    height: 80%;
}


#dashboard_section .boxConteudo .boxRight{
    height: 80%;
}
}



@media screen and (max-width: 1366px) and (max-height: 768px){
    .menu {
        width: 250px;
    }

    #dashboard_section #titleDash{
        font-size: 2rem;
        line-height: 50px;
    }

    #dashboard_section .boxConteudo{
        height: calc(100% - 50px);
    }

    #dashboard_section .boxConteudo .boxLeft .card{
        width: 260px;
        height: 140px;
    }
    #dashboard_section .boxConteudo .boxRight .areaGrafico{
        width: 90%;
        min-height: 55%;
    }

    #dashboard_section .boxConteudo .boxRight .areaConsultoresCards{
        border: 1px solid red;
        min-height: 40%;
    }

}
