@media screen and (max-width: 1366px) and (min-width: 1280px){

    main .home-section #box-textProject{
        height: auto;
    }
}

@media screen and (max-width: 1280px) and (min-width: 1024px){

    main .home-section #box-textProject{
        height: auto;
    }
}

@media screen and (min-width: 1025px) {    
    .navbar-menu{
        display: none;
    }
}
@media screen and (max-width: 1024px) and (min-width: 768px){
    :root{
        --font-size-extra-larguer: 2rem;
        --font-size-medium: 1.2rem;
        --widht-buttons-home: 180px;
        --height-buttons-home: 45px;
    }
    header #top-nav{
       display: none;
    }
    .navbar-menu{
        display: flex;
    }
    main .home-section #box-textProject{
        height: auto;
    }
    main .home-section #box-buttons{
        gap: 10px;
        height: auto;
    }

}
@media screen and (max-width: 768px) and (min-width: 480px){
    :root{
        --font-size-extra-larguer: 1.5rem;
        --font-size-medium: 1rem;
--widht-buttons-home: 180px;
        --height-buttons-home: 45px;
    }
    header #top-nav{
       display: none;
    }
    main .home-section #box-textProject{
        height: auto;
    }
    main .home-section #box-buttons{
        gap: 10px;
        height: auto;
    }
}
@media screen and (max-width: 480px) and (min-width: 320px){
    :root{
        --font-size-extra-larguer: 1.5rem;
        --font-size-medium: 1rem;
--widht-buttons-home: 180px;
        --height-buttons-home: 45px;
    }
    header #top-nav{
       display: none;
    }
    main .home-section #box-textProject{
        height: auto;
    }
    main .home-section #box-buttons{
        gap: 10px;
        height: auto;
    }
}
@media screen and (max-width: 320px){
    :root{
        --font-size-extra-larguer: 1.5rem;
        --font-size-medium: 1rem;
        --widht-buttons-home: 180px;
        --height-buttons-home: 45px;
    }
    header #top-nav{
       display: none;
    }
    main .home-section #box-textProject{
        height: auto;
    }
  
main .home-section #box-buttons{
    gap: 10px;
    height: auto;
}
}