@import url("../variables/variables-zump.css");
@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Hubot+Sans:ital,wght@0,200..900;1,200..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Hubot+Sans:ital,wght@0,200..900;1,200..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=MuseoModerno:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Shrikhand&display=swap');

#clientes_section{
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
}

#clientes_section .modalPacotes{
    display: none;
    justify-content: center;
    flex-direction: column;
    z-index: 15;
    width: 80%;
    height: 100%;
    background-color: var(--white);
    position: absolute;
    background-image: url("../../assets/logos/logo\ zump\ azul.svg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: bottom 10px right 20px;
}
#voltarPacotes{
    margin: 10px;
    width: 120px;
    border: none;
    outline: none;
    background-color: transparent;
    background-image: url("../../assets/icon/Right\ Arrow.svg");
    background-position: center left;
    background-repeat: no-repeat;
    background-size: 20px;
    cursor: pointer;
}
#clientes_section .modalPacotes h1{
    font-size: var(--font-size-extra-larguer);
    font-weight: var(--font-size-medium);
    
}

#clientes_section .modalPacotes .coteudosPacote{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    height: 80%;
}

#clientes_section .modalPacotes .coteudosPacote .boxVendaPacote{
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 100%;
}
#clientes_section .modalPacotes .coteudosPacote .boxVendaPacote .topoBox{
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
}
#clientes_section .modalPacotes .coteudosPacote .boxVendaPacote .topoBox h1{
    font-size: var(--font-size-larguer);
    font-weight: var(--font-weight-regular);
}
#clientes_section .modalPacotes .coteudosPacote .boxVendaPacote .topoBox select{
    height: 40px;
    width: 80px;
    color: #4B4B4B;
    background-color: #E9E9E9;
    border-radius: 5px;
    border: 1px solid #CFCFCF;
    padding-left: 5px;
    font-size: var(--font-size-regular);
    margin-left: 1rem;
        appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="none" stroke="%23606060" stroke-width="2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M6 9l6 6 6-6"/></svg>');
    background-repeat: no-repeat;
    background-position: right 5px center;
    background-size: 30px;
    outline: none;
    cursor: pointer;
}


#clientes_section .modalPacotes .coteudosPacote .boxVendaPacote .box_registro_venda{
    display: flex;
    flex-direction: column;
    border: 1px solid #cfcfcf;
    background-color: #fff;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    padding: 10px 20px;
}

#clientes_section .modalPacotes .coteudosPacote .boxVendaPacote .box_registro_venda .topoBox{
    display: flex;
    align-items: center;
    width: 100%;
}
#clientes_section .modalPacotes .coteudosPacote .boxVendaPacote .box_registro_venda .topoBox h1{
    font-size: var(--font-size-regular);
    font-weight: var(--font-weight-regular);
}
#clientes_section .modalPacotes .coteudosPacote .boxVendaPacote .box_registro_venda .topoBox select{
    height: 40px;
    width: 200px;
    color: #4B4B4B;
    background-color: #E9E9E9;
    border-radius: 5px;
    border: 1px solid #CFCFCF;
    padding-left: 5px;
    padding-right: 20px;
    font-size: var(--font-size-regular);
    margin-left: 1rem;
        appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="none" stroke="%23606060" stroke-width="2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M6 9l6 6 6-6"/></svg>');
    background-repeat: no-repeat;
    background-position: right 5px center;
    background-size: 30px;
    outline: none;
    cursor: pointer;
}


#clientes_section .modalPacotes .coteudosPacote .boxVendaPacote .box_registro_venda .selecaoDePacotes{
    display: flex;
    flex-direction: column;
    width: 100%;
}
#clientes_section .modalPacotes .coteudosPacote .boxVendaPacote .box_registro_venda .selecaoDePacotes label{
    font-size: var(--font-size-regular);
    font-weight: var(--font-weight-regular);
}
#clientes_section .modalPacotes .coteudosPacote .boxVendaPacote .box_registro_venda .selecaoDePacotes select{
       height: 40px;
    width: 280px;
    color: #4B4B4B;
    background-color: #E9E9E9;
    border-radius: 5px;
    border: 1px solid #CFCFCF;
    padding-left: 5px;
    padding-right: 20px;
    font-size: var(--font-size-regular);
        appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="none" stroke="%23606060" stroke-width="2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M6 9l6 6 6-6"/></svg>');
    background-repeat: no-repeat;
    background-position: right 5px center;
    background-size: 30px;
    outline: none;
    cursor: pointer;
}


#clientes_section .modalPacotes .coteudosPacote .boxVendaPacote .box_registro_venda .boxDias{
    display: flex;
    gap: 1rem;
    width: 100%;
    flex-direction: row;   
}

#clientes_section .modalPacotes .coteudosPacote .boxVendaPacote .box_registro_venda .boxDias .inputs{
    display: flex;
    flex-direction: column;
}

#clientes_section .modalPacotes .coteudosPacote .boxVendaPacote .box_registro_venda .boxDias .inputs label{
   font-size: var(--font-size-regular);
   font-weight: var(--font-weight-regular);
}
#clientes_section .modalPacotes .coteudosPacote .boxVendaPacote .box_registro_venda .boxDias .inputs input{
   border: 1px solid #cfcfcf;
   background-color: #e9e9e9;
   height: 40px;
   width: 120px;
   border-radius: 5px;
   padding-left: 10px;
   padding-right: 5px;
}


#clientes_section .modalPacotes .coteudosPacote .boxVendaPacote .box_registro_venda .boxDescricao{
    width: 100%;
    display: flex;
    flex-direction: column;
}

#clientes_section .modalPacotes .coteudosPacote .boxVendaPacote .box_registro_venda .boxDescricao label{
    font-size: var(--font-size-regular);
   font-weight: var(--font-weight-regular);
}

#clientes_section .modalPacotes .coteudosPacote .boxVendaPacote .box_registro_venda .boxDescricao textarea{
    border: 1px solid #cfcfcf;
    background-color: #e9e9e9;
    border-radius: 5px;
    height: 200px;
    padding: 10px 15px;
}


#clientes_section .modalPacotes .coteudosPacote .boxVendaPacote .box_registro_venda .boxPreco{
    width: 100%;
    display: flex;
    flex-direction: column;
}

#clientes_section .modalPacotes .coteudosPacote .boxVendaPacote .box_registro_venda .boxPreco .inputs{
    display: flex;
    flex-direction: column;
}

#clientes_section .modalPacotes .coteudosPacote .boxVendaPacote .box_registro_venda .boxPreco .inputs label{
   font-size: var(--font-size-regular);
   font-weight: var(--font-weight-regular);
}
#clientes_section .modalPacotes .coteudosPacote .boxVendaPacote .box_registro_venda .boxPreco .inputs input{
   border: 1px solid #cfcfcf;
   background-color: #e9e9e9;
   height: 40px;
   width: 250px;
   border-radius: 5px;
   padding-left: 10px;
   padding-right: 5px;
}






#clientes_section .modalPacotes .coteudosPacote .boxVendaPacote .box_registro_venda .boxPagamento{
    display: flex;
    align-items: end;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;   
}

#clientes_section .modalPacotes .coteudosPacote .boxVendaPacote .box_registro_venda .boxPagamento .inputs{
    display: flex;
    flex-direction: column;
}

#clientes_section .modalPacotes .coteudosPacote .boxVendaPacote .box_registro_venda .boxPagamento .inputs label{
   font-size: var(--font-size-regular);
   font-weight: var(--font-weight-regular);
}
#clientes_section .modalPacotes .coteudosPacote .boxVendaPacote .box_registro_venda .boxPagamento .inputs select{
       height: 40px;
    width: 180px;
    color: #4B4B4B;
    background-color: #E9E9E9;
    border-radius: 5px;
    border: 1px solid #CFCFCF;
    padding-left: 5px;
    padding-right: 20px;
    font-size: var(--font-size-regular);
        appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="none" stroke="%23606060" stroke-width="2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M6 9l6 6 6-6"/></svg>');
    background-repeat: no-repeat;
    background-position: right 5px center;
    background-size: 30px;
    outline: none;
    cursor: pointer;
}
#clientes_section .modalPacotes .coteudosPacote .boxVendaPacote .box_registro_venda .boxPagamento .inputs:nth-child(2) select{
       height: 40px;
    width: 80px;
}

#clientes_section .modalPacotes .coteudosPacote .boxVendaPacote .box_registro_venda .boxPagamento button{
    width: 150px;
    height: 40px;
    border-radius: 5px;
    background: linear-gradient(45deg, #131517, #434343);
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
}





















#clientes_section .modalPacotes .coteudosPacote .boxDadosClientes{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
}

#clientes_section .modalPacotes .coteudosPacote .boxDadosClientes .topoBox{
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
}

#clientes_section .modalPacotes .coteudosPacote .boxDadosClientes .topoBox h1{
    font-size: var(--font-size-larguer);
    font-weight: var(--font-weight-regular);
}
#clientes_section .modalPacotes .coteudosPacote .boxDadosClientes .informacoesDePacotes{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80%;
}
#clientes_section .modalPacotes .coteudosPacote .boxDadosClientes .informacoesDePacotes .boxDados{
    width: 100%;
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


#clientes_section .modalPacotes .coteudosPacote .boxDadosClientes .informacoesDePacotes .boxDados .topoDados{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

#clientes_section .modalPacotes .coteudosPacote .boxDadosClientes .informacoesDePacotes .boxDados .topoDados label{
   font-size: var(--font-size-regular);
   font-weight: var(--font-weight-regular);
}
#clientes_section .modalPacotes .coteudosPacote .boxDadosClientes .informacoesDePacotes .boxDados .topoDados .inputs{ 
    display: flex;
    flex-direction: column;
}
#clientes_section .modalPacotes .coteudosPacote .boxDadosClientes .informacoesDePacotes .boxDados .topoDados .inputs input{
   border: 1px solid #cfcfcf;
   background-color: #e9e9e9;
   height: 40px;
   width: 280px;
   border-radius: 5px;
   padding-left: 10px;
   padding-right: 5px;
}






#clientes_section .modalPacotes .coteudosPacote .boxDadosClientes .informacoesDePacotes .boxDados .meioDados{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

#clientes_section .modalPacotes .coteudosPacote .boxDadosClientes .informacoesDePacotes .boxDados .meioDados label{
   font-size: var(--font-size-regular);
   font-weight: var(--font-weight-regular);
}
#clientes_section .modalPacotes .coteudosPacote .boxDadosClientes .informacoesDePacotes .boxDados .meioDados .inputs{ 
    display: flex;
    flex-direction: column;
}
#clientes_section .modalPacotes .coteudosPacote .boxDadosClientes .informacoesDePacotes .boxDados .meioDados .inputs input{
   border: 1px solid #cfcfcf;
   background-color: #e9e9e9;
   height: 40px;
   width: 280px;
   border-radius: 5px;
   padding-left: 10px;
   padding-right: 5px;
}
#clientes_section .modalPacotes .coteudosPacote .boxDadosClientes .informacoesDePacotes .boxDados .meioDados .inputs:nth-child(2) input{
   height: 40px;
   width: 120px;
}
#clientes_section .modalPacotes .coteudosPacote .boxDadosClientes .informacoesDePacotes .boxDados .meioDados .inputs:nth-child(3) input{
   height: 40px;
   width: 150px;
}




#clientes_section .modalPacotes .coteudosPacote .boxDadosClientes .informacoesDePacotes .boxDados .footerDados{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

#clientes_section .modalPacotes .coteudosPacote .boxDadosClientes .informacoesDePacotes .boxDados .footerDados label{
   font-size: var(--font-size-regular);
   font-weight: var(--font-weight-regular);
}
#clientes_section .modalPacotes .coteudosPacote .boxDadosClientes .informacoesDePacotes .boxDados .footerDados .inputs{ 
    display: flex;
    flex-direction: column;
}
#clientes_section .modalPacotes .coteudosPacote .boxDadosClientes .informacoesDePacotes .boxDados .footerDados .inputs input{
   border: 1px solid #cfcfcf;
   background-color: #e9e9e9;
   height: 40px;
   width: 280px;
   border-radius: 5px;
   padding-left: 10px;
   padding-right: 5px;
}
















#clientes_section .modalPacotes .coteudosPacote .boxDadosClientes .informacoesDePacotes .pacotesAdquiridos{
    width: 100%;
    height: 70%;
}

#clientes_section .modalPacotes .coteudosPacote .boxDadosClientes .informacoesDePacotes .pacotesAdquiridos h2{
    margin-top: 20px;
    font-size: var(--font-size-regular);
    font-weight: var(--font-weight-regular);
}

#clientes_section .modalPacotes .coteudosPacote .boxDadosClientes .informacoesDePacotes .pacotesAdquiridos .boxDePacotes{
    border: 1px solid #cfcfcf;
    background-color: #e9e9e9;
    width: 100%;
    height: 90%;
    border-radius: 10px;
    padding: 15px;
}

#clientes_section .modalPacotes .coteudosPacote .boxDadosClientes .informacoesDePacotes .pacotesAdquiridos .boxDePacotes .boxVendidos{
    padding-left: 15px;
    padding-right: 30px;
    width: 100%;
    height: 80%;
    overflow-y: scroll;
}

#clientes_section .modalPacotes .coteudosPacote .boxDadosClientes .informacoesDePacotes .pacotesAdquiridos .boxDePacotes .boxVendidos::-webkit-scrollbar {
  width: 4px;
}

#clientes_section .modalPacotes .coteudosPacote .boxDadosClientes .informacoesDePacotes .pacotesAdquiridos .boxDePacotes .boxVendidos::-webkit-scrollbar-track {
  background: #a7a7a7;
  border-radius: 10px;
}

#clientes_section .modalPacotes .coteudosPacote .boxDadosClientes .informacoesDePacotes .pacotesAdquiridos .boxDePacotes .boxVendidos::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #585858, #000000);
  border-radius: 10px;
}

#clientes_section .modalPacotes .coteudosPacote .boxDadosClientes .informacoesDePacotes .pacotesAdquiridos .boxDePacotes .boxVendidos .cardPacote{
    border: 1px solid #CFCFCF;
    background-color: #fff;
    height: 75px;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 20px;
}



#clientes_section .modalPacotes .coteudosPacote .boxDadosClientes .informacoesDePacotes .pacotesAdquiridos .boxDePacotes .boxVendidos .cardPacote .infosCardPacote{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
#clientes_section .modalPacotes .coteudosPacote .boxDadosClientes .informacoesDePacotes .pacotesAdquiridos .boxDePacotes .boxVendidos .cardPacote .infosCardPacote h2{
    margin-top: 0;
    font-size: var(--font-size-regular);
    font-weight: var(--font-weight-regular);
}
#clientes_section .modalPacotes .coteudosPacote .boxDadosClientes .informacoesDePacotes .pacotesAdquiridos .boxDePacotes .boxVendidos .cardPacote .infosCardPacote h2:nth-child(2){
    color: #9C9C9C;
    margin-right: -30px;
}
#clientes_section .modalPacotes .coteudosPacote .boxDadosClientes .informacoesDePacotes .pacotesAdquiridos .boxDePacotes .boxVendidos .cardPacote .infosCardPacote p{
    font-size: .8rem;
    position: absolute;
    bottom: 2px;
    right: 5px;
}

#clientes_section .modalPacotes .coteudosPacote .boxDadosClientes .informacoesDePacotes .pacotesAdquiridos .boxDePacotes .topoBox{
    display: flex;
    align-items: center;
    width: 100%;
    height: 55px;
}
#clientes_section .modalPacotes .coteudosPacote .boxDadosClientes .informacoesDePacotes .pacotesAdquiridos .boxDePacotes .topoBox h1{
    font-size: var(--font-size-regular);
    font-weight: var(--font-weight-regular);
}
#clientes_section .modalPacotes .coteudosPacote .boxDadosClientes .informacoesDePacotes .pacotesAdquiridos .boxDePacotes .topoBox select{
    height: 40px;
    width: 200px;
    color: #4B4B4B;
    background-color: #E9E9E9;
    border-radius: 5px;
    border: 1px solid #CFCFCF;
    padding-left: 5px;
    padding-right: 20px;
    font-size: var(--font-size-regular);
    margin-left: 1rem;
        appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="none" stroke="%23606060" stroke-width="2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M6 9l6 6 6-6"/></svg>');
    background-repeat: no-repeat;
    background-position: right 5px center;
    background-size: 30px;
    outline: none;
    cursor: pointer;
}



































#clientes_section .editarCliente{
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 10;
    width: 80%;
    height: 100%;
    background-color: var(--white);
    position: absolute;
}

#clientes_section .editarCliente .conteudoEdit{
    display: flex;
    width: 90%;
    height: 90%;
}
#clientes_section .editarCliente .formEditCliente{
    width: 30%;
    height: 100%;
}
#clientes_section .editarCliente .boxKpiCliente{
    width: 70%;
    height: 86%;
}


#clientes_section .editarCliente .formEditCliente .divVoltar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--white);
    width: 100%;
    height: 10%;
}

#clientes_section .editarCliente .formEditCliente .divVoltar button{
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    width: 100px;
    background-image: url("../../assets/icon/Right\ Arrow.svg");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center left;
}

#clientes_section .editarCliente .formEditCliente .fotoCliente{
    background-color: var(--white);
    background-image: url("../../assets/icon/User.svg");
    background-position: center bottom -20px;
    background-repeat: no-repeat;
    background-size: 50%;
    width: 100%;
    height: 30%;
}
#clientes_section .editarCliente .formEditCliente .fotoCliente h2{
    margin-top: 10px;
    font-size: var(--font-size-regular);
}

#clientes_section .editarCliente .formEditCliente .box_inputs{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-top: 35px;
    width: 100%;
    height: 45%;
}
#clientes_section .editarCliente .formEditCliente .box_inputs .input{
    position: relative;
    border: 1px solid #CFCFCF;
    background-color: #fff;
    height: 55px;
    width: 100%;
    border-radius: 8px;
}
#clientes_section .editarCliente .formEditCliente .box_inputs .input:nth-child(2){
    background-image: url("../../assets/icon/telIco.svg");
    background-position: center right 20px;
    background-repeat: no-repeat;
    background-size: 30px;
}
#clientes_section .editarCliente .formEditCliente .box_inputs .input:nth-child(3){
    background-image: url("../../assets/icon/localeIco.svg");
    background-position: center right 20px;
    background-repeat: no-repeat;
    background-size: 30px;
}
#clientes_section .editarCliente .formEditCliente .box_inputs .input:nth-child(4){
    background-image: url("../../assets/icon/bloq.svg");
    background-color: #e9e9e9;
    background-position: center right 20px;
    background-repeat: no-repeat;
    background-size: 30px;
}
#clientes_section .editarCliente .formEditCliente .box_inputs .input label{
    position: absolute;
    top: -25px;
}

#clientes_section .editarCliente .formEditCliente .box_inputs .input input{
    width: 100%;
    height: 55px;
    border: none;
    outline: none;
    background: transparent;
    padding-left: 15px;
    padding-right: 20px;
}




#clientes_section .editarCliente .boxKpiCliente .cards_pacotes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
    height: 30%;
}

#clientes_section .editarCliente .boxKpiCliente .cards_pacotes .card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 350px;
    height: 180px;
    background: linear-gradient(40deg, #212E34, #1D3642, #183D4F, #13455D, #0A5579, #006494);
    border-radius: 5px;
    position: relative;
}

#clientes_section .editarCliente .boxKpiCliente .cards_pacotes .card h1{
    font-size: 4rem;
    font-weight: var(--font-weight-medium);
    color: var(--white);
}

#clientes_section .editarCliente .boxKpiCliente .cards_pacotes .card p{
    font-size: var(--font-size-regular);
    position: absolute;
    color: #AEAEAE;
    bottom: 10px;
}


#clientes_section .editarCliente .boxKpiCliente .cards_comentearios{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 58%;
    gap:1rem;
}


#clientes_section .editarCliente .boxKpiCliente .cards_comentearios .comentarios{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

#clientes_section .editarCliente .boxKpiCliente .cards_comentearios .comentarios h2{
    color: #737373;
    font-size: 1.2rem;
    font-weight: var(--font-weight-medium);
}

#clientes_section .editarCliente .boxKpiCliente .cards_comentearios .comentarios .box_comentarios{
    width: 100%;
    max-height: 375px;
    height: 100%;
    border: 1px solid #cfcfcf;
    background-color: #e9e9e9;
    border-radius: 8px;
    margin-top: 10px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

#clientes_section .editarCliente .boxKpiCliente .cards_comentearios .comentarios .box_comentarios button{
    width: 60px;
    height: 60px;
    border-radius: 60px;
    margin-right: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #424242;
    background-image: url("../../assets/icon/Plus\ Math.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
    transition: .3s;
}

#clientes_section .editarCliente .boxKpiCliente .cards_comentearios .comentarios .box_comentarios button:hover{
    background-color: #252525;
}

#clientes_section .editarCliente .boxKpiCliente .cards_comentearios .comentarios .box_comentarios .box_cards_coment{
    width: 80%;
    height: 100%;
    overflow-y: scroll;
}

#clientes_section .editarCliente .boxKpiCliente .cards_comentearios .comentarios .box_comentarios .box_cards_coment::-webkit-scrollbar {
  width: 4px;
}
#clientes_section .editarCliente .boxKpiCliente .cards_comentearios .comentarios .box_comentarios .box_cards_coment::-webkit-scrollbar-track {
  background: #D9D9D9;
  border-radius: 10px;
}
#clientes_section .editarCliente .boxKpiCliente .cards_comentearios .comentarios .box_comentarios .box_cards_coment::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #585858, #000000);
  border-radius: 10px;
}

#clientes_section .editarCliente .boxKpiCliente .cards_comentearios .comentarios .box_comentarios .box_cards_coment .card{
    background-color: var(--white);
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 95%;
    padding: 10px;
    gap: 15px;
    border-radius: 10px;
     position: relative;
     margin-bottom: 20px;
}

#clientes_section .editarCliente .boxKpiCliente .cards_comentearios .comentarios .box_comentarios .box_cards_coment .card button{
   border: none;
   background-color: transparent;
   outline: none;
   width: 30px;
   height: 30px;
   top: 5px;
   right: -2px;
   position: absolute;
   cursor: pointer;
   background-image: url("../../assets/icon/maximizar.svg");
   background-position: center;
   background-repeat: no-repeat;
   background-size: 20px;
}

#clientes_section .editarCliente .boxKpiCliente .cards_comentearios .comentarios .box_comentarios .box_cards_coment .card .fotoConsultor{
    width: 60px;
    border-radius: 60px;
    height: 60px;
    background-color: #D9D9D9;
    background-image: url("../../assets/icon/User.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 40px;
}


#clientes_section .editarCliente .boxKpiCliente 
.cards_comentearios .comentarios .box_comentarios 
.box_cards_coment .card .box_infosConsultor {
  width: 70%;
  overflow: hidden;
  height: 70px;
  transition: height 0.8s ease;
}


#clientes_section .editarCliente .boxKpiCliente .cards_comentearios .comentarios .box_comentarios .box_cards_coment .card .box_infosConsultor h2{
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-medium);
    color: var(--black);
}

#clientes_section .editarCliente .boxKpiCliente .cards_comentearios .comentarios .box_comentarios .box_cards_coment .card .box_infosConsultor p{
    font-size: var(--font-size-small);
    margin-top: 5px;
    font-weight: var(--font-weight-regular);
    color: var(--black);
}












#clientes_section .editarCliente .boxKpiCliente .cards_comentearios .avaliacoes_cards{
    padding-top: 30px;
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;   
}

#clientes_section .editarCliente .boxKpiCliente .cards_comentearios .avaliacoes_cards .card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    height: 150px;
    border-radius: 5px;
    position: relative;
}

#clientes_section .editarCliente .boxKpiCliente .cards_comentearios .avaliacoes_cards .card:nth-child(1){
    background-image: url("../../assets/icon/star.svg"), linear-gradient(40deg, #212E34, #1D3642, #183D4F, #13455D, #0A5579, #006494);
    background-position: top 10px right 10px, center;
    background-repeat: no-repeat;
    background-size: 40px, cover;
}

#clientes_section .editarCliente .boxKpiCliente .cards_comentearios .avaliacoes_cards .card:nth-child(2){
    background-image: url("../../assets/icon/Happy.svg"), linear-gradient(40deg, #212E34, #1D3642, #183D4F, #13455D, #0A5579, #006494);
    background-position: top 10px right 10px, center;
    background-repeat: no-repeat;
    background-size: 40px, cover;
}



#clientes_section .editarCliente .boxKpiCliente .cards_comentearios .avaliacoes_cards .card h1{
    font-size: 3rem;
    font-weight: var(--font-weight-medium);
    color: var(--white);
}

#clientes_section .editarCliente .boxKpiCliente .cards_comentearios .avaliacoes_cards .card p{
    font-size: var(--font-size-regular);
    color: #AEAEAE;
    position: absolute;
    bottom: 10px;
}



#clientes_section .editarCliente .boxKpiCliente .box_btns{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 12%;
}


#clientes_section .editarCliente .boxKpiCliente .box_btns .buttons{
    width: 80%;
    margin-left: -12px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
}


#clientes_section .editarCliente .boxKpiCliente .box_btns .buttons button{
    width: 350px;
    height: 55px;
    border-radius: 8px;
    outline: none;
    border: none;
    color: var(--white);
    font-size: var(--font-size-regular);
    cursor: pointer;
}

#clientes_section .editarCliente .boxKpiCliente .box_btns .buttons button:nth-child(1){
    background:linear-gradient(45deg, #0F537A, #1575AD, #1B98E0);
}
#clientes_section .editarCliente .boxKpiCliente .box_btns .buttons button:nth-child(2){
    text-align: left;
    padding-left: 80px;
    background:
    url("../../assets/icon/pacoteVazio.svg"), linear-gradient(45deg, #131517, #2C2D2E, #464646);
    background-position: top 10px right 70px, center;
    background-repeat: no-repeat;
    background-size: 30px, cover;
}









#clientes_section .cardCadastroCliente{
    position: absolute;
    display: none;
    align-items: center;
    flex-direction: column;
    width: 900px;
    height: 625px;
    border-radius: 15px;
    background: var(--white);
    bottom: 10%;
    border: 1px solid #C9C9C9;
    box-shadow: 0px 0px 20px 3px #dfdfdf;
    z-index: 11;
}

#clientes_section .cardCadastroCliente .fecharCadastroCliente{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    top: -10px;
    right: -10px;
    background-color: var(--white);
    background-image: url("../../assets/icon/MacOS\ Close.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 50px;
    cursor: pointer;
    border: none;
    transition: .3s;
}

#clientes_section .cardCadastroCliente .fecharCadastroCliente:hover{
    background-size: 55px;
}

#clientes_section .cardCadastroCliente .box_cadastro_de_cliente{
    padding-top: 20px;
    padding-bottom: 20px;
    height: 100%;
    width: 50%;
}

#clientes_section .cardCadastroCliente .box_cadastro_de_cliente h1{
    font-size: var(--font-size-medium);
}

#clientes_section .cardCadastroCliente .box_cadastro_de_cliente .inputs{
    border: 1px solid #c9c9c9;
    margin-top:35px;
    height: 55px;
    position: relative;
    border-radius: 10px;
}

#clientes_section .cardCadastroCliente .box_cadastro_de_cliente .inputs_cpf_dataNasc{
    display: flex;
    margin-top:35px;
    height: 55px;
    width: 100%;
    position: relative;
    border-radius: 10px;
    gap: 20px;
}

#clientes_section .cardCadastroCliente .box_cadastro_de_cliente .inputs_cpf_dataNasc .inputsCpfTel{
    border-radius: 10px;
    border: 1px solid #c9c9c9;
}

#clientes_section .cardCadastroCliente .box_cadastro_de_cliente .inputs_cpf_dataNasc .inputsCpfTel label{
    position: absolute;
    top: -25px;
}
#clientes_section .cardCadastroCliente .box_cadastro_de_cliente .inputs_cpf_dataNasc .inputsCpfTel input{
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    height: 55px;
    padding-left: 15px;
    padding-right: 20px;
}
#clientes_section .cardCadastroCliente .box_cadastro_de_cliente .inputs_cpf_dataNasc .inputsCpfTel input:focus{   
    border: 1px solid #1B98E0;
    border-radius: 10px;
}


#clientes_section .cardCadastroCliente .box_cadastro_de_cliente .inputs label{
    position: absolute;
    top: -25px;
}
#clientes_section .cardCadastroCliente .box_cadastro_de_cliente .inputs input{
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    height: 55px;
    padding-left: 15px;
    padding-right: 20px;
    
}

#clientes_section .cardCadastroCliente .box_cadastro_de_cliente .inputs input:focus{
   border: 1px solid #1B98E0;
    border-radius: 10px;
}




#clientes_section .cardCadastroCliente .box_cadastro_de_cliente button{
    margin-top: 35px;
    width: 100%;
    height: 55px;
    border-radius: 10px;
    border: none;
    outline: none;
    color: var(--white);
    background: linear-gradient(45deg, #0F537A, #1575AD, #1B98E0);
    font-size: var(--font-size-regular);
    cursor: pointer;
}


#clientes_section .box_topo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    height: 70px;
}
#clientes_section .box_topo .inputPesquisar{  
    border: 1px solid #CFCFCF;
    background-color: #E9E9E9;
    height: 50px;
    width: 400px;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
}
#clientes_section .box_topo .inputPesquisar input{ 
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    background-color: transparent;
    color: #606060;
    padding-right: 55px;
    padding-left: 15px;
    font-size: var(--font-size-regular);
}
#clientes_section .box_topo .inputPesquisar button{ 
    position: absolute;
    width: 50px;
    height: 50px;
    border: none;
    outline: none;
    right: 0px;
    cursor: pointer;
    background-color: #1B98E0;
    background-image: url("../../assets/icon/Search.svg");
    background-position: center center;
    background-size: 30px;
    background-repeat: no-repeat;
    transition: .3s;
}
#clientes_section .box_topo .inputPesquisar button:hover{
    background-color: #066da8;
}

#clientes_section .box_topo #adicionarCliente{
    width: 200px;
    border: none;
    outline: none;
    color: var(--white);
    background-color: #1B98E0;
    height: 50px;
    border-radius: 8px;
    text-align: left;
    padding-left: 20px;   
    background-image: url("../../assets/icon/Plus\ Math.svg");
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center right 20px;
    cursor: pointer;
    transition: .3s;
}

#clientes_section .box_topo #adicionarCliente:hover{
    background-color: #066da8;
}

#clientes_section .box_topo .selecao{
    position: relative;
}
#clientes_section .box_topo .selecao p{
position: absolute;
top: -30px;
font-size: var(--font-size-regular);
}
#clientes_section .box_topo #selectPacote{
    width: 160px;
    height: 50px;
    background-color: #E9E9E9;
    border: 1px solid #CFCFCF;
    border-radius: 8px;
    color: #606060;
    padding-left: 10px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="none" stroke="%23606060" stroke-width="2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M6 9l6 6 6-6"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 30px;
    outline: none;
    cursor: pointer;
}



#clientes_section .box_rodape{
    width: 50%;
    height: 60%;
    margin-top: 50px;
    overflow: hidden;
    overflow-y: scroll;
}

#clientes_section .box_rodape::-webkit-scrollbar {
  width: 4px;
}

#clientes_section .box_rodape::-webkit-scrollbar-track {
  background: #D9D9D9;
  border-radius: 10px;
}

#clientes_section .box_rodape::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #585858, #000000);
  border-radius: 10px;
}


#clientes_section .box_rodape .card_cliente{
    display: flex;
    justify-content: baseline;
    align-items: center;
    width: 98%;  
    height: 80px;  
    border-radius: 10px;
    position: relative;
    background: linear-gradient(45deg, #0E2936, #1B98E0, #0E2936);
    margin-bottom: 25px;
}
#clientes_section .box_rodape .card_cliente:hover{
    background: #0E2936;
}
#clientes_section .box_rodape .card_cliente .box_foto{
    width: 60px;
    height: 60px;
    background-color: #dfdfdf;
    margin-left: 20px;
    border-radius: 60px;
    overflow: hidden;
}
#clientes_section .box_rodape .card_cliente .box_foto img{
   width: 100%;
}
#clientes_section .box_rodape .card_cliente .infos_cliente{
    margin-left: 20px;
}
#clientes_section .box_rodape .card_cliente .infos_cliente h2,
#clientes_section .box_rodape .card_cliente .infos_cliente p{
    font-size: var(--font-size-regular);
    color: var(--white);
}


#clientes_section .box_rodape .card_cliente .box_buttons{
    position: absolute;
    right: 25px;
    cursor: pointer;
}
#clientes_section .box_rodape .card_cliente .box_buttons button{
    margin-left: 10px;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
}


#clientes_section .box_rodape .card_cliente .box_buttons #btn_pacote{
    background: url("../../assets/icon/pacoteVazio.svg");
      background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
}
#clientes_section .box_rodape .card_cliente .box_buttons #btn_deletar{
    background: url("../../assets/icon/deleteWhite.svg");
      background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
}
#clientes_section .box_rodape .card_cliente .box_buttons #btn_editar{
    background: url("../../assets/icon/editWhite.svg");
      background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
}