@import url("../variables/variables-zump.css");
@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Hubot+Sans:ital,wght@0,200..900;1,200..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Hubot+Sans:ital,wght@0,200..900;1,200..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=MuseoModerno:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Shrikhand&display=swap');

*{
    margin: 0; padding: 0;
    text-decoration: none; box-sizing: border-box;
    list-style: none; scroll-behavior: smooth;
    font-size: var(--font-size-small); 
    font-family: var(--font-family-texts);
}

body{
    width: 100%;
    max-width: 1900px;
    height: 100vh;
    max-height: 1080px;
    background-color: var(--white);
    position: relative;
    overflow: hidden;
    display: flex;
    transition: 1s linear;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0px;
    height: 100%;
    width: 100%;
    max-width: 290px;
    border-radius: 0px 290px 290px 0px;
    position: relative;
    background: linear-gradient(90deg, #0F537A, #1B98E0);   
}



.menu .conteudo{
     display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url("../../assets/logos/logo\ zump\ 1.png");
    background-position: center bottom 90px;
    background-repeat: no-repeat;
    background-size: 130px;
}

.menu .conteudo .boxFoto{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 245px;
    position: relative;
}

.menu .conteudo .boxFoto #foto_user{
    background-color: #dddcdc;
    margin-top: 20px;
    border-radius: 120px;
    width: 110px;
    height: 110px;
    border: 2px solid #fff;
    background-image: url("../../assets/imgs/Maya.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.menu .conteudo .boxFoto h3{
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-medium);
    margin-top: 10px;
    color: var(--white);
    width: 100px;
    text-align: center;
}

.menu .conteudo .boxFoto button{
    position: absolute;
    bottom: 5px;
    right: 15px;
    background-color: transparent;
    border: none;
    font-size: var(--font-size-regular);
    font-weight: 300;
    background-image: url("../../assets/icon/Logout.svg");
    background-position: center right;
    background-repeat: no-repeat;
    background-size: 25px;
    padding-right: 40px;
    color: var(--white);
    cursor: pointer;
}

.box_hora{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    width: 100%;
    height: auto;
    padding: 5px;
}

.box_hora h2{
    font-size: var(--font-size-extra-larguer);
    font-weight: var(--font-weight-medium);
    color: var(--white);
}

.box_hora h3{
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-regular);
    color: var(--white);
}

.box_sessoes{
    width: 100%;
    height: 260px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
}

.box_sessoes h2{
    display: block;
    width: fit-content;
    text-align: left;
    margin-left: 20px;
    font-size: var(--font-size-medium);
    color: var(--white);
    font-weight: var(--font-weight-medium);
    cursor: pointer;
}







#interagir_menu{
    position: absolute;
    right: -30px;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    border: 2px solid var(--white);
    background-color: #1B98E0;
    background-image: url("../../assets/icon/Plane.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40px;
    cursor: pointer;
}

#abrir_menu {
    display: none;
    position: absolute;
    width: 40px;
    height: 40px;
    left: 30px;
    top: 20px;
    cursor: pointer;
    background-image: url("../../assets/icon/menu.svg");
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center; 
    border: none;
    background-color: transparent;
    opacity: 0;
}
@keyframes aparecerSuave {
    from {
    opacity: 0;
    transform: translateY(10px) scale(0.9);
    }
    to {
    opacity: 1;
    transform: translateY(0) scale(1);
    }
}
#abrir_menu.animar {
    animation: aparecerSuave 0.6s ease forwards;
}



section {
    flex: 1;
    display: flex;
}
#dashboard_section {
    align-items: flex-end;
    flex-direction: column;
    padding-right: 5%;
}
#dashboard_section .box_topo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25%;
    width:95%;
    max-width:95%;
}


#dashboard_section .box_topo .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 180px;
    width: 310px;
    background: linear-gradient(40deg, #212E34, #1D3642, #183D4F, #13455D, #0A5579, #006494);
    border-radius: 10px;
    transition: .6s linear;
}

#dashboard_section .box_topo .card h2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    position: relative;
    transition: .6s linear;
}
#dashboard_section .box_topo .card h2, 
#dashboard_section .box_topo .card span{
    color: #9E9E9E;
    font-size: var(--font-size-regular);
    font-weight: var(--font-weight-medium);
    transition: .6s linear;
}
#dashboard_section .box_topo .card h2 img{
        position: absolute;
    width: 40px;
    height: 40px;
    left: -50px;
    transition: .6s linear;
}
#dashboard_section .box_topo .card p{
    color: #9E9E9E;
    font-size: var(--font-size-regular);
    font-weight: var(--font-weight-medium);
    transition: .6s linear;
}

#dashboard_section .box_topo .card #ftrMensal{
    display: block;
    color: var(--white);
    font-size: var(--font-size-larguer);
    line-height: 100px;
    text-align: center; 
    font-weight: var(--font-weight-medium);
    transition: .6s linear;
}

#dashboard_section .box_topo .card #medVendas{
    display: block;
    color: var(--white);
    font-size: var(--font-size-larguer);
    line-height: 100px;
    text-align: center; 
    font-weight: var(--font-weight-medium);
    transition: .6s linear;
}

#dashboard_section .box_topo .card #clientesNovos{
    display: block;
    color: var(--white);
    line-height: 100px;
    text-align: center; 
    font-size: 4rem;
    font-weight: var(--font-weight-medium);
    transition: .6s linear;
}

#dashboard_section .box_topo .card #vendasPacote{
    display: block;
    color: var(--white);
    line-height: 100px;
    text-align: center; 
    font-size: 4rem;
    font-weight: var(--font-weight-medium);
    transition: .6s linear;
}

#dashboard_section .box_meio{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40%;
    width:95%;
    max-width:95%;
}
#dashboard_section .box_meio .box_grafico{
    background: #131517;
    height: 350px;
    width: 800px;
    border-radius: 15px;   
    transition: .6s linear;
}

#dashboard_section .box_meio .box_grafico .chart-container {
  border-radius: 15px;
  padding: 20px;
  height: 360px;
  width: 100%;
    transition: .6s linear;
}

canvas {
  width: 100% !important;
  height: 100% !important;
    transition: .6s linear;
}








#dashboard_section .box_meio .box_cidades{
    display: flex;
    flex-direction: column;
    background: linear-gradient(40deg, #131517, #0E2936, #0A3D56, #055075, #006494);
     height: 350px;
    width: 500px;
    border-radius: 15px;   
    transition: .6s linear;

}

#dashboard_section .box_meio .box_cidades h2{
    margin-top: 20px;
    margin-left: 20px;
    font-size: var(--font-size-regular);
    font-weight: var(--font-weight-regular);
    color: var(--white);
    transition: .6s linear;

}
#dashboard_section .box_meio .box_cidades .box_cidades_aninhamento{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    transition: .6s linear;

}
#dashboard_section .box_meio .box_cidades .box_cidades_aninhamento .cidades_row{
     display: flex;
     justify-content: flex-start;
     align-items: center;
     margin-left: 2rem;
    flex-direction: row;
    gap: 3rem;
    width: 100%;
    transition: .6s linear;

}
#dashboard_section .box_meio .box_cidades .box_cidades_aninhamento .cidades_row img{
    width: 30px;
    transition: .6s linear;

}
#dashboard_section .box_meio .box_cidades .box_cidades_aninhamento .cidades_row p{
    font-size: var(--font-size-regular);
    color: var(--white);
    font-weight: var(--font-weight-medium);
    transition: .6s linear;

}
#dashboard_section .box_meio .box_cidades .box_cidades_aninhamento .cidades_row .qtdViagens{
    font-size: var(--font-size-regular);
    color: #AEAEAE;
    font-weight: var(--font-weight-regular);
    transition: .6s linear;

}
























#dashboard_section .box_rodape{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 35%;
    width:95%;
    max-width:95%;
}
#dashboard_section .box_rodape .box_consultores{
    background: #131517;
    width: 600px;
    height: 280px;
    border-radius: 15px;   
    transition: .6s linear;

}


#dashboard_section .box_rodape .box_consultores h2{
    margin-top: 20px;
    margin-left: 20px;
    font-size: var(--font-size-regular);
    font-weight: var(--font-weight-regular);
    color: var(--white);
    transition: .6s linear;

}
#dashboard_section .box_rodape .box_consultores .box_consultores_aninhamento{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 230px;
    transition: .6s linear;

}
#dashboard_section .box_rodape .box_consultores .box_consultores_aninhamento .consultores_row{
     display: flex;
     justify-content: flex-start;
     align-items: center;
     margin-left: 2rem;
    flex-direction: row;
    gap: 6rem;
    width: 100%;
    transition: .6s linear;

}
#dashboard_section .box_rodape .box_consultores .box_consultores_aninhamento .consultores_row img{
    width: 30px;
    transition: .6s linear;

}
#dashboard_section .box_rodape .box_consultores .box_consultores_aninhamento .consultores_row p{
    font-size: var(--font-size-regular);
    color: var(--white);
    font-weight: var(--font-weight-medium);
    transition: .6s linear;

}
#dashboard_section .box_rodape .box_consultores .box_consultores_aninhamento .consultores_row .qtdFaturamento{
    font-size: var(--font-size-regular);
    color: #AEAEAE;
    font-weight: var(--font-weight-regular);
    transition: .6s linear;

}


















#dashboard_section .box_rodape .box_pacotes{
    background: #131517;
    width: 600px;
    height: 280px;
    border-radius: 15px;   
    transition: .6s linear;

}



#dashboard_section .box_rodape .box_pacotes h2{
    margin-top: 20px;
    margin-left: 20px;
    font-size: var(--font-size-regular);
    font-weight: var(--font-weight-regular);
    color: var(--white);
    transition: .6s linear;

}
#dashboard_section .box_rodape .box_pacotes .box_pacotes_aninhamento{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 230px;
    transition: .6s linear;

}
#dashboard_section .box_rodape .box_pacotes .box_pacotes_aninhamento .pacotes_row{
     display: flex;
     justify-content: flex-start;
     align-items: center;
     margin-left: 2rem;
    flex-direction: row;
    gap: 6rem;
    width: 100%;
    transition: .6s linear;

}
#dashboard_section .box_rodape .box_pacotes .box_pacotes_aninhamento .pacotes_row img{
    width: 30px;
    transition: .6s linear;

}
#dashboard_section .box_rodape .box_pacotes .box_pacotes_aninhamento .pacotes_row p{
    font-size: var(--font-size-regular);
    color: var(--white);
    font-weight: var(--font-weight-medium);
    transition: .6s linear;

}
#dashboard_section .box_rodape .box_pacotes .box_pacotes_aninhamento .pacotes_row .qtdVendas{
    font-size: var(--font-size-regular);
    color: #AEAEAE;
    font-weight: var(--font-weight-regular);
    transition: .6s linear;

}



#clientes_section{
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
}

#clientes_section #cardDelete{
    position: absolute;
    display: none;
    flex-direction: column;
    right: 0px;
    top: 30px;
    z-index: 10;
    background-color: #f8f8f8;
    border: 1px solid #CFCFCF;
    width: 400px;
    height: 210px;
    border-radius: 10px;
    overflow: hidden;
}

#clientes_section #cardDelete .barraTemporizadora{
    width: 100%;
    height: 4px;
    background-color: #ff0000;
    animation: temporizadora 5s linear forwards;
}

@keyframes temporizadora {
    0%{
        width: 100%;
    }
    100%{
        width: 0%;
    }
}

#clientes_section #cardDelete h1{
    margin-top: 15px;
    margin-left: 15px;
    font-size: var(--font-size-regular);
    font-weight: var(--font-weight-medium);
}
#clientes_section #cardDelete .infosCliente{
    margin-top: 5px;
    margin-left: 15px;
    height: 100px;
    padding-left: 20px;
}
#clientes_section #cardDelete .infosCliente h2{
    margin-top: 2px;
    font-size: var(--font-size-regular);
    font-weight: var(--font-weight-regular);
}
#clientes_section #cardDelete .opBtn{
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 10px;
    height: 50px;
    gap: 10px;
}

#clientes_section #cardDelete .opBtn button{
    height: 40px;
    width: 90px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: var(--font-size-regular);
    font-weight: var(--font-weight-regular);
}

#clientes_section #cardDelete .opBtn #btnNao{
    background-color: var(--white);
    color: #000000;
}

#clientes_section #cardDelete .opBtn #btnSim{
    background-color: #e01b1b;
    color: #fff;
}



#clientes_section .box_topo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    height: 70px;
}
#clientes_section .box_topo .inputPesquisar{  
    border: 1px solid #CFCFCF;
    background-color: #E9E9E9;
    height: 50px;
    width: 400px;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
}
#clientes_section .box_topo .inputPesquisar input{ 
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    background-color: transparent;
    color: #606060;
    padding-right: 55px;
    padding-left: 15px;
    font-size: var(--font-size-regular);
}
#clientes_section .box_topo .inputPesquisar button{ 
    position: absolute;
    width: 50px;
    height: 50px;
    border: none;
    outline: none;
    right: 0px;
    cursor: pointer;
    background-color: #1B98E0;
    background-image: url("../../assets/icon/Search.svg");
    background-position: center center;
    background-size: 30px;
    background-repeat: no-repeat;
    transition: .3s;
}
#clientes_section .box_topo .inputPesquisar button:hover{
    background-color: #066da8;
}

#clientes_section .box_topo #adicionarCliente{
    width: 200px;
    border: none;
    outline: none;
    color: var(--white);
    background-color: #1B98E0;
    height: 50px;
    border-radius: 8px;
    text-align: left;
    padding-left: 20px;   
    background-image: url("../../assets/icon/Plus\ Math.svg");
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center right 20px;
    cursor: pointer;
    transition: .3s;
}

#clientes_section .box_topo #adicionarCliente:hover{
    background-color: #066da8;
}

#clientes_section .box_topo .selecao{
    position: relative;
}
#clientes_section .box_topo .selecao p{
position: absolute;
top: -30px;
font-size: var(--font-size-regular);
}
#clientes_section .box_topo #selectPacote{
    width: 160px;
    height: 50px;
    background-color: #E9E9E9;
    border: 1px solid #CFCFCF;
    border-radius: 8px;
    color: #606060;
    padding-left: 10px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="none" stroke="%23606060" stroke-width="2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M6 9l6 6 6-6"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 30px;
    outline: none;
    cursor: pointer;
}



#clientes_section .box_rodape{
    width: 50%;
    height: 60%;
    margin-top: 50px;
    overflow: hidden;
    overflow-y: scroll;
}

#clientes_section .box_rodape::-webkit-scrollbar {
  width: 4px;
}

#clientes_section .box_rodape::-webkit-scrollbar-track {
  background: #D9D9D9;
  border-radius: 10px;
}

#clientes_section .box_rodape::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #585858, #000000);
  border-radius: 10px;
}


#clientes_section .box_rodape .card_cliente{
    display: flex;
    justify-content: baseline;
    align-items: center;
    width: 98%;  
    height: 80px;  
    border-radius: 10px;
    position: relative;
    background: linear-gradient(45deg, #0F537A, #1576AD, #1C98E0);
    margin-bottom: 25px;
}
#clientes_section .box_rodape .card_cliente:hover{
    background: #0E2936;
}
#clientes_section .box_rodape .card_cliente .box_foto{
    width: 60px;
    height: 60px;
    margin-left: 20px;
    border-radius: 60px;
    overflow: hidden;
}
#clientes_section .box_rodape .card_cliente .box_foto img{
   width: 100%;
}
#clientes_section .box_rodape .card_cliente .infos_cliente{
    margin-left: 20px;
}
#clientes_section .box_rodape .card_cliente .infos_cliente h2,
#clientes_section .box_rodape .card_cliente .infos_cliente p{
    font-size: var(--font-size-regular);
    color: var(--white);
}


#clientes_section .box_rodape .card_cliente .box_buttons{
    position: absolute;
    right: 25px;
    cursor: pointer;
}
#clientes_section .box_rodape .card_cliente .box_buttons button{
    margin-left: 10px;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
}


#clientes_section .box_rodape .card_cliente .box_buttons #btn_pacote{
    background: url("../../assets/icon/pacoteVazio.svg");
      background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
}
#clientes_section .box_rodape .card_cliente .box_buttons #btn_deletar{
    background: url("../../assets/icon/deleteWhite.svg");
      background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
}
#clientes_section .box_rodape .card_cliente .box_buttons #btn_editar{
    background: url("../../assets/icon/editWhite.svg");
      background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
}

#consultores_section {
    justify-content: center;
    align-items: center;
    border-radius: 15px;   
}

#consultores_section h1 {
    font-size: var(--font-size-extra-larguer);
}