@import url("../mediaFrames/media-keyframes-wetravel.css");
@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Hubot+Sans:ital,wght@0,200..900;1,200..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Hubot+Sans:ital,wght@0,200..900;1,200..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=MuseoModerno:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Shrikhand&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {

    display: flex;
    justify-content: space-between;

}

#acessar {

    padding: 0.3%;
    background-color: #1C1E21;
    border-radius: 18px;
    height: auto;
    width: 21vw;
    box-shadow: 0px 0px 5px 2px #1C1E21;
    font-family: 'Inter';
    display: flex;
    align-items: center;
    position: absolute;
    top: 6.5%;
    right: 2%;
    z-index: 30;

}

#acessar ul {

    display: flex;
    list-style-type: none;
    text-align: center;
    margin: 0;
    align-items: center;

}

#acessar #MarcaAcesso a{

    color: #131517;
    font-weight: 500;

}

#acessar li {

    margin-right: 14%;

}

#acessar #MarcaAcesso{
    padding: 7%;
    width: 11vw;
    border-radius: 25px;
    border: none;
    background-color: #D9D9D9;
    position: relative;
    color: #131517;
    font-weight: 400;
    justify-self: center;
}

#acessar a, #acessar button{

    color: white;
    text-decoration: none;
    font-weight: 300;

}

header img {

    width: 10vw;
    height: 4vh;
    margin-bottom: 1%;

}

nav ul {

    list-style-type: none;
    display: flex;
    margin: 0;
    margin-left: 3%;

}

nav li {

    margin-right: 10%;

}

nav ul a {

    text-decoration: none;
    color: white;
    font-weight: 300;

}

header nav {

    padding: 1%;
    width: 50vw;
    height: auto;
    background-color: #1C1E21;
    display: flex;
    border-radius: 18px;
    box-shadow: 0px 0px 5px 2px #1C1E21;
    margin-top: 3%;
    margin-left: 3%;
    align-items: center;
    font-family: 'Inter';
    position: absolute;
    z-index: 30;
    
}

body{

    background: linear-gradient(to bottom, #131517, #1C1E21);
    overflow-x: hidden;

}

body img {
    position: relative;
    z-index: 1;

}

#home img {

    width: auto;
    height: auto;
    max-width: 100%;

}

#opacidade {
    z-index: 20;
    position: absolute;
    background: linear-gradient(#00000000, #00000000, #1c1e218a, #1C1E21);
    width: 100%;
    height: 130%;
    pointer-events: none;
}

#mensagens {

    color: white;
    position: absolute;
    font-family: 'MuseoModerno';
    width: 42%;
    text-align: center;
    top: 35%;
    left: 30%;
    z-index: 25;

}

#mensagens p {

    font-family: 'Inter';
    font-weight: 400;

}

#bvindo{

    background-color: #00000082;
    width: 49%;
    padding: 1%;
    border-radius: 20px;
    border: solid 1px black;
    justify-self: center;

}

#bvindo img {

    margin-right: 3%;

}

#mensagens ul {

    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 14%;
    font-family: 'Inter';
    padding: 0;
    margin-right: 11%;

}

#btnAcessarMain {
    padding: 6%;
    width: 13vw;
    border-radius: 25px;
    border: none;
    background-color: #D9D9D9;
    position: relative;
    color: #131517;
    font-weight: 500;
    justify-self: center;
    box-shadow: 0px 0px 1px 1px #D9D9D9;

}

footer hr {

    background-color: #000000;
    height: 5px;
    border-radius: 10px;
    width: 90%;

}

footer p {
    color: white;
    text-align: center;
}