@import url("../mediaFrames/media-keyframes-wetravel.css");
@import url("../variables/variables-wetravel.css");
@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Hubot+Sans:ital,wght@0,200..900;1,200..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Hubot+Sans:ital,wght@0,200..900;1,200..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=MuseoModerno:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Shrikhand&display=swap');


*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}
body{
    background: var(--gray-W6-WeTravel);
}
header{
    width: 100%;
    height: auto;
    position: fixed;
    max-width: 1900px;
    padding: var(--padding-navbar-top-1900px);
    margin-top: 40px;
}
/*Nav-bar geral/topo*/
header #top-nav{
    display: flex;
    justify-content: space-between;
}

/*Nav-bar esquerda*/
header #top-nav .nav-left{
    display: flex;
    background-color: var(--gray-W5-WeTravel);
    width: var(--width-navbar-left-1900px);
    height: var(--height-navbar-left-right-1900px);
    border-radius: var(--borderRadius-1900px);
}
header #top-nav .nav-left ul{
    display: flex;
}
/*Nav-bar direita*/
header #top-nav .nav-right{
    display: flex;
    background-color: var(--gray-W5-WeTravel);
    width: var(--width-navbar-right-1900px);
    height: var(--height-navbar-left-right-1900px);
    border-radius: var(--borderRadius-1900px);
}
header #top-nav .nav-right ul{
    display: flex;
}

/*Padronização das Sections*/
section{
    width: 100vw;
    height: 100vh;
    max-width: 1900px;
    max-height: 1080px;
    border: 1px solid red;
    overflow: hidden;
}
