/* Importando as fontes definidas nas suas variáveis */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600&family=MuseoModerno:wght@500;600&display=swap');

/* Aplicando as variáveis que você forneceu */
:root {
    /*Colors whetravel*/
    --black: #000000;
    --white: #FFFFFF;
    --azul-Z1-: #13293D;
    --azul-Z2-: #006494;
    --azul-Z3-: #247BA0;
    --azul-Z4-: #1B98E0;
    /*Fonts Whetravel*/
    --font-family-modern: 'MuseoModerno';
    --font-family-texts: 'Inter';
    --font-size-small: 1rem;
    --font-size-regular: 1.3rem;
    --font-size-medium: 1.5rem;
    --font-size-larguer: 2rem;
    --font-size-extra-larguer: 2.5rem;
    /*Parametros de Weight*/
    --font-weight-regular: 300;
    --font-weight-medium: 500;
    --font-weight-bold: 600;
    /*Animation Hover*/
    --mili-seg-5ms: .5s;
    /*Buttons Parametros HOME*/
    --border-radius-buttons-home: 55px;
    /*Config Navbar...*/
    --borderRadius-1900px: 15px;
}
/* Mensagens de feedback */
#message {
    margin-top: 20px;
    font-weight: var(--font-weight-medium);
    min-height: 20px;
}

/* Você pode adicionar classes 'success' e 'error' via JavaScript */
#message.success {
    color: #4CAF50; /* Verde para sucesso */
}

#message.error {
    color: #F44336; /* Vermelho para erro */
}   