:root{

    /*Colors whetravel*/
     --black: #000000;
     --white: #FFFFFF;
    --purple-W1-WeTravel: #7846FF;
    --purple-W2-WeTravel: #8B5CFF;
    --purple-W3-WeTravel: #EAE4FF;
    --gray-W4-WeTravel: #D9D9D9;
    --gray-W5-WeTravel: #1C1E21;
    --gray-W6-WeTravel: #131517;
    --gray-W7-WeTravel: #2C2C2C;

    /*Fonts Whetravel*/
    --font-family-modern: 'MuseoModerno';
    --font-family-texts: 'Inter';
    --font-size-small: 1rem;
    --font-size-regular: 1.3rem;
    --font-size-medium: 1.5rem;
    --font-size-larguer: 1.8rem;
    --font-size-extra-larguer: 2.5rem;

    /*Parametros de Weight*/
    --font-weight-regular: 300;
    --font-weight-medium: 500;
    --font-weight-bold: 600;

    /*Backgrounds*/
    --home-background-gradient: radial-gradient(
      circle closest-corner at center,
      var(--gray-W5-WeTravel),
      var(--gray-W6-WeTravel)
    );
    --home-background-gradient-roboot: linear-gradient(0deg, rgb(19, 21, 23), rgba(19, 21, 23, 0.959),rgba(19, 21, 23, 0),rgba(19, 21, 23, 0));
    --home-background-image-roboot: url("../../assets/imgs/NEXBOT\ -\ robot.svg");

    /*Animation Hover*/
    --mili-seg-5ms: .5s;

    /*Buttons Parametros HOME*/
    --widht-buttons-home: 220px;
    --height-buttons-home: 55px;
    --border-radius-buttons-home: 55px;


    /*Config Navbar espaçamentos, tamanhos etc...*/
    --padding-navbar-top-1900px: 0px 45px 0px 45px;
    --margin-navbar-top-1900px: 40px; 
    --height-navbar-left-right-1900px: 55px;
    --width-navbar-right-1900px: 300px;
    --width-navbar-left-1900px: 550px;
    --borderRadius-1900px: 15px;
    --shadow-navbarTop-1900px: 0px 0px 15px 0px var(--gray-W5-WeTravel);
    --margin-LEFT-RIGHT-ul-navbar-left-1900px: 7%;
    --width-ul-navbar-left-1900px: 100%;
    --width-height-ul-navbar-right-1900px: 100%;
    --widht-logo-navbar-1900px: 135px;
    --height-logo-navbar-1900px: 26px;
    --margin-left-logo-navbar-1900px: 15px;
    --header-distance-top-1900px: 40px;
    --padding-ul-navbar-right-1900px: 0px 5px 0px 5px;
    --widht-button-navbar-right-1900px: 140px;
    --height-button-navbar-right-1900px: 45px;
    --border-radius-button-acess-navbar-right-1900px: 40px;


}